{% extends 'base_registration.html' %}
{% load bootstrap4 %}
{% block title %}
    Вход
{% endblock %}
{% block heading %}
    <h2>Страница Входа</h2>
{% endblock %}
{% block content %}
    {% if form.errors %}
        <p>Имя пользователя или пароль введены не верно</p>
    {% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-red  float-lg-right">Войти</button>
    </form>
    <a href="{% url 'diplomapp:sign_up' %}">Зарегистрировать магазин</a>
{% endblock %}
