/*html{*/
/*    overflow-x: hidden;*/
/*}*/
body{
    /*padding-top: 50px;*/
    background-color: #edf2f5;
    overflow-y: auto;
overflow-x: hidden;
}
.text-red{
    color: #e31E25;
}
.text-green{
    color: #1e7e34;
}
.bg-status-True{
    background-color: #81f69e;
}
.bg-ruby{
    background-color:#7b2324 ;
}
.bg-total-price{
   background-color:#7d000f;
    color: #fff;
}
.btn-red{
    color: white;
    background-color: #e21e35;
}

.btn-red:hover, .btn-red:focus{
    color: white;
    background-color:#ec4d57 ;
}
/*SIDEBAR*/
.sidebar{
    height: 100vh;
     position: sticky;
    top:0;
    left: 0;
    padding:0;
    background-color: #7b2324;
    overflow-y: auto;
    /*width: 300px;*/
}
/*sidebar header*/
.sidebar >div:first-child{
    padding: 30px 10px;
    font-weight: bold;
    font-size: 15px;
    background-color: #3f1e1e;
}
.sidebar >div:first-child>h4{
    color: #e0deeb;
}
.sidebar >div:first-child>h5{
    color: #ffffff;
}

/*SIDEBAR - MENU*/

.sidebar .list-group{
    padding: 0;
    background-color: #7b2324;
}
.sidebar .list-group > span{
    color:white;
    display: block;
    margin-top: 20px;
    padding: 20px 30px;
    font-size: 16px;
    font-weight: 300;
}
.sidebar .list-group .list-group-item,
.sidebar .list-group .list-group-item:focus{
    background-color: #7b2324;
    color: white;
    border: 0;
    padding-left: 60px;
    padding-right: 30px;
}
/*.sidebar .list-group .list-group-item .active*/
/*{*/
/*    color: red;*/
/*}*/
.sidebar .list-group .list-group-item:hover{
    background-color: #3f1e1e;
    color: #e0deeb;
}
.sidebar .list-group .list-group-item:first-child{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.sidebar .list-group .list-group-item .badge,
.sidebar .list-group .list-group-item .active .badge{
    background-color: #e31E25;
    color: #e0deeb;
}
/*SIDEBAR - LOGOUT*/
.sidebar >div:last-child{
    padding: 30px;
}
.sidebar >div:last-child .btn{
    width: 100%;
}
/*SIDEBAR - CONTENT*/
.content{
    /*padding: 0 40px;*/
}
.content .card{
    border: none;
}

.card-size{
    height: 470px;
}
.btn-place{
    position: absolute;
    bottom: 15px;
}
.btn-place:hover{
    background-color: #002050;
}
.img-place {
 width: 100%; /* Ширина области */
 height: 280px; /* Высота области */

 /*margin: 0; !* Обнуляем отступы *!*/
}
.img-place img {
    margin: 10px 0;
    width: auto; /* Ширина изображений */
    max-width: 100%;
    height: auto; /* Высота изображении */
    max-height: 100%; /* Высота изображении */
    object-fit: cover; /* Вписываем фотографию в область */
}
.card-body-size{
    width: 100%;
    height: 80px;
}


/*TABLE*/

.table > thead > tr > th ,
.table > thead > tr > td {
    vertical-align: middle;
}

.table,
.table > thead > tr >th{
    border-color: #e31E25;
}


/*TEST*/
nav.navbar .dropdown:hover > .dropdown-menu {
 display: block;
}
.li-fixed{
     list-style-type: none;
    float: left;
}
.li-fixed :first-child{

}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}
.search-input{
    width: 450px;
}
.form{
    display: inline-block;
}
.form >input{
    display: inline;
}
.btn-primary{
    background-color: #c22c2d;
    border-color: #7b2324;
}
.btn-primary:hover{
    background-color: #ff5959;
    border-color: #7b2324;
}
.img-place{
    position:relative;
}
.img-size{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.img-gallery-div{
    height: 420px;

}
.img-gallery-place{
    /*width: 100%;*/
    height: 420px;
    position: relative;

}
.img-gallery-place img{
    width: auto; /* Ширина изображений */
    max-width: 100%;
    height: auto; /* Высота изображении */
    max-height: 100%; /* Высота изображении */
    object-fit: cover; /* Вписываем фотографию в область */
    /*margin: auto;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

ul li {
    display: inline;
    float: left;
    width: 100%;
    height: 100%;
}
.navbar-nav li:hover{
    background-color: #9c9c9c;
    width: 100%;
}
.navbar-nav li:hover:first-child {
    color: #fff;
}
.content-test {
    display: none;
}

.wrapper:hover .content-test {
    display: block;
}
.wrapper:hover .content-test:first-child{
    height: 100vh;
}
.content-test:hover {
    display: block;
}
.test-li{
    padding: 0;
    margin: 0;
}

.card-header:first-child {
     border-radius: 0;
}
